AWS_REGION=us-east-1
ECS_REGION=us-east-2
AWS_S3_BUCKET=feedback-coach-int-tools
AWS_CLOUDFRONT_ID=
AWS_S3_PREFIX=

API_BASE=https://feedback-coach-api.int-tools.cmtelematics.com
WS_BASE=wss://feedback-coach-api.int-tools.cmtelematics.com

ECR_REPO=423031077609.dkr.ecr.us-east-1.amazonaws.com/service/feedback-coach
ECS_CLUSTER=int-tools-cluster01
ECS_SERVICE=feedback-coach
IMAGE_TAG=
PORT=3333

CORS_ORIGIN=https://feedback-coach.int-tools.cmtelematics.com
SESSION_SECRET=
OAUTH_CALLBACK_URL=https://feedback-coach-api.int-tools.cmtelematics.com/api/auth/callback
REQUIRE_GOOGLE_SIGNIN=
ALLOWED_EMAIL_DOMAIN=
ALLOWED_USER_EMAILS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SLACK_CLIENT_ID_OAUTH=
SLACK_CLIENT_SECRET_OAUTH=
ATLASSIAN_SITE=https://cmtelematics.atlassian.net
